# Core Framework
streamlit

# Data Handling & Numerics
pandas
numpy

# Database Connector
firebase-admin

# Google AI SDK
google-generativeai

# Advanced Visualization
altair

# PDF Generation Library
reportlab

# Machine Learning Library
scikit-learn
